/* stylelint-disable-next-line */
@import-normalize;

.top_header {
  background-color: #050C0E;  
}

.site_name {
  color: #FFC84B;
  font: 18pt BadScriptRegular;
  vertical-align: middle;
}

.top_header i{
  color: #00C7F6;
  vertical-align: initial;
}

.main {
  background-color: #EAF3F5;
  margin-top: 10px;
}
.quest {
  display: block;
  margin-left: auto;
  margin-right: auto;
}